@font-face {
    font-family: "Baloo";
    src: url('assets/Baloo-Regular.ttf');
    font-display: swap;
}

body, html {
    font-family: "Baloo";
    font-size: 1.2rem;
    margin: 0;
    background-color: #000;
}

div {padding: 0 11vw;}

* {color: #C8FF00;}

#bear5 * {color: #0081DE;}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 53vh;
    transition: all 0.4s ease-out;
}

.logo:hover {
    width: 54.5vh;
    transition: all 0.3s ease-in;
}

.midii {
    letter-spacing: 0.6vh;
    font-size: 5.2vh;
    text-align: center;
    margin:  4vh 0 1vh;
}

.button1, .button2, .navbar {
    text-align: center;
    margin: 0;
    padding: 0;
}

.button1 a, .button2 a, .navbar a {
    text-decoration: none;
    display: inline-block;
    margin: 0.35rem;
    border: solid 3px;
    border-radius: 2em;
    transition: all 0.125s ease-in;
}

.button1 a:hover, .button2 a:hover, .navbar a:hover {
    transform: scale(1.05);
}

.button1 a {font-size: 1.5rem;}

.button2 a {
    background-color: #C8FF00;
    font-size: 1.5rem;
    border: none;
    color: #000
}
.navbar a {
    font-size: 1.85rem;
    letter-spacing: 0.18em;
    padding: 0 25px 0 30px;
}

.covers {height: 250px;}

::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {border-radius: 2px;}

section {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.21, 1), visibility 0s 0.1s;
}

a[id="start"]:target ~ #start,
a[id="about"]:target ~ #about,
a[id="links"]:target ~ #links,
a[id="music"]:target ~ #music,
a[id="edt"]:target ~ #edt,
a[id="bear5"]:target ~ #bear5,
a[id="merch"]:target ~ #merch {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.21, 1), visibility 0s;
}

@media screen and (max-width: 1760px) {
    body, html {font-size: 1.05rem;}

    .midii {font-size: 3.8vh;}

    .navbar a {font-size: 1.5125rem;}
}

@media screen and (max-width: 980px) {
    body, html {font-size: 0.9rem;}

    .logo {width: 40vw;}

    .logo:hover {width: 42vw;}

    .midii {font-size: 3.2vh;}

    .navbar a {
        margin: 0.3rem;
        font-size: 1.4rem;
        border-radius: 1em;
    }
}

@media screen and (max-width: 736px) {
    .midii {font-size: 4.3vh;}

    .navbar a {font-size: 1.7rem;}
}

@media screen and (max-width: 480px) {
    .logo {width: 53vw;}

    .logo:hover {width: 54.5vw;}

    .navbar a {
        padding: 0;
        width: 70vw;
        border-radius: 1.5em;
    }
}